---
import Layout from "@layout/Layout.astro";

import FeaturedBlogsContainer from "@components/FeaturedBlogsContainer.astro";
import FeaturedBlogPost from "@components/FeaturedBlogPost.astro";
import MainIntro from "@components/MainIntro.astro";
import ContactForm from "@components/ContactForm.astro";
import readingTime from "reading-time";

const allPosts = await Astro.glob("./blog/*.md");

const lastThreePosts = allPosts
  .sort((a, b) => {
    let dateA = new Date(a.frontmatter.pubDate),
      dateB = new Date(b.frontmatter.pubDate);
    if (dateA < dateB) return 1;
    if (dateA > dateB) return -1;
    return 0;
  })
  .slice(0, 3);
---

<Layout
  pageTitle="Louie Knolle"
  description=" My name is Louie, a nature-loving developer living in the woods of western Massachusetts."
  type="website"
>
  <main class="flex flex-col gap-16 items-center px-8 mx-auto max-w-[75ch]">
    <MainIntro />
    <FeaturedBlogsContainer>
      <FeaturedBlogPost/>
    </FeaturedBlogsContainer>
    <!-- <ContactForm /> -->
  </main>
</Layout>
