---
const jobs = [
  {
    title: "Full Stack Developer",
    company: "Integrated Eco Strategy",
    timeRange: "2/2023 - Present",
    description:
      "As a full stack developer at Integrated Eco Strategy, I am responsible for developing and maintaining the company's health materials management platform. This includes implementing new features, fixing bugs, and optimizing the app for performance and scalability.",
  },
  {
    title: "Full Stack Developer",
    company: "Validaid",
    timeRange: "12/2022 – 05/2023",
    description:
      "While at Validaid, I carried out a variety of tasks, namely leading frontend development for the company's web app and ensuring that the app was accessible and responsive across all devices. I also worked on the company's backend, which was built with Node.js and MariaDB.",
  },
  {
    title: "Frontend Developer",
    company: "The Collab Lab",
    timeRange: "01/2023 - 03/2023",
    description:
      "As a member of The Collab Lab's 20223 cohort, I worked with a team of developers to build a full stack predicative shopping list application. I was responsible for leading frontend development and ensuring that the app was accessible and responsive across all devices.",
  },
  {
    title: "Past Experience Charcuterie",
    company: "Various farms, land conservancies, and small businesses",
    description: "I have worked as a wilderness therapy field guide, fruit picker, tree farmer, land manager and more. All of these past careers set me up for success as a developer with experience constantly learning new skills, working as an empathetic human, and earning trust from work leaders."
  }
];
---

<section
  aria-labelledby=":rr:"
  class="mx-auto max-w-5xl sm:px-6 sm:border-l sm:border-primary-700/40"
>
  <div class="grid grid-cols-1 gap-y-8 items-baseline md:grid-cols-4">
    <h2
      id=":rr:"
      class="text-lg font-semibold tracking-tight sm:text-xl text-primary-100"
    >
      Experience
    </h2>
    <div class="md:col-span-3">
      <ul role="list" class="space-y-16">
        {
          jobs.map((j) => (
            <li class="flex flex-col items-start">
              <>
                <div class="flex flex-row justify-between items-baseline pl-2 w-full border-l border-primary-700">
                  <div class="flex flex-col">
                    <div class="flex flex-row gap-2 items-center">
                      <img
                        decoding="async"
                        loading="lazy"
                        src={`images/${j.company.toLowerCase().split(' ')[0]}.png`}
                        class="w-5 h-5 rounded-full ring-1 shadow-md shadow-primary-800/5 ring-primary-900"
                      />
                      <h3 class="text-base font-semibold tracking-tight sm:max-w-none sm:text-lg max-w-[20ch] text-primary-100">
                        {j.company}
                      </h3>
                    </div>

                    <h2 class="text-sm tracking-tight sm:max-w-none sm:text-base max-w-[20ch] text-primary-300">
                      {j.title}
                    </h2>
                  </div>
                  <time class="text-sm text-primary-600">{j.timeRange}</time>
                </div>

                <p class="z-10 mt-4 text-sm text-primary-300 max-w-[75ch]">
                  {j.description}
                </p>
              </>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
