---
---

<div class="flex flex-col gap-4 w-full border-stone-200 border-2 p-2 rounded-md">
  <h2 class="text-3xl font-semibold tracking-tighter sm:text-4xl">
    Featured Project
  </h2>
  <slot />
</div>
